In [7]:
import pandas as pd

df = pd.DataFrame({"id": [1, 2, 3, 4, 5], "name": ['A', 'B', 'C', 'D', 'E'],
                   "salary": [1000, 1500, 2000, 3000, 4500]})

# print(df,"\n")
#df['id']
df[['id', 'name']]

   id name
0   1    A
1   2    B
2   3    C
3   4    D
4   5    E